@import url('https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap');
html{
  font-family: 'Raleway', sans-serif;
   padding: 0px;
   margin : 0px;
}

body{
    margin-top: 3%;
    background-color: black;
}
.cont{
    width: 100%;
    height:5%;
    margin-top: 15%;
}
#head{
    color:white;
    font-size: 7vw;
    position: absolute;
    margin-left: 3%;
    margin-top: 17%;
}
#show{
    background-color: rebeccapurple;
    position: absolute;
    margin-left: 3%;
    margin-top: 18%;
    width:60%;
    height: 20%;
    background-color: black;
}
#t1{
    color:white;
    font-size: 3.3vw;
    position: absolute;
    margin-left: 4%;
    margin-top: 19%;

}
#t2{
    color:white;
    font-size: 2.3vw;
    position: absolute;
    margin-left: 6%;
    margin-top: 23%;

}
#t3{
    color:white;
    font-size: 2.3vw;
    position: absolute;
    margin-left: 6%;
    margin-top: 25%;

}
.top{
    width:95%;
    height: 95px;
    border: 1px solid white;
    margin-left:2.5%;
}
.profile1{

    width:2%;
    height:1%;
    margin-right: 0%;
    margin-top: 14%;
    margin-left: 70%;
    position: absolute;
    padding: 9%;
    border-radius: 50%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.profile1_1{

    width:2%;
    height:1%;
    margin-right: 0%;
    margin-top: 34%;
    margin-left: 67%;
    position: absolute;
    padding: 13%;
    border-radius: 50%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}
.profile2{

    width:0.9%;
    height:1%;
    margin-right: 0%;
    margin-left: 84%;
    margin-top: 4%;
    position: absolute;
    padding: 4%;
    border-radius: 50%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.profile3{

    width:0.6%;
    height:1%;
    margin-right: 0%;
    margin-top: 10%;
    margin-left: 74%;
    position: absolute;
    padding: 1%;
    border-radius: 50%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.profile4{

    width:0.8%;
    height:1%;
    margin-right: 0%;
    margin-left: 54%;
    margin-top: 34%;
    position: absolute;
    padding: 5%;
    border-radius: 50%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.profile5{

    width:0.8%;
    height:1%;
    margin-right: 0%;
    margin-left: 48%;
    margin-top: 33%;
    position: absolute;
    padding: 2.2%;
    border-radius: 50%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.profile6{

    width:0.6%;
    height:1%;
    margin-right: 0%;
    margin-left: 66%;
    margin-top: 27%;
    position: absolute;
    padding: 2%;
    border-radius: 50%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.bottom{
    width:95%;
    height: 95px;
    border: 1px solid white;
    margin-left:2.5%;
    margin-top: 30px;
}
