body,
html{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #F6F4F2;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 0 0;
}
h1{
  padding-top: 0px;
  padding-left: 25px;
}

.stagger-visualizer {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
}

.stagger-visualizer div {
  /*position: absolute;*/
  width: 64px;
  height: 128px;
  border: 1px solid #373535;
  background-color: #F6F4F2;
}
.section0 {
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {

}
.box::after {
  font-family: 'Roboto', sans-serif;
  font-size:130px;
  color: #F6F4F2;
  text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;  
  content: 'Bosung';

  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 130px;
}



header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  height: 300px;
  background:none repeat scroll 0 0 #F6F4F2;;
  /*box-shadow: 6px 6px 4px 4px threedshadow;	*/
  width:300px;
  height:200px;
  border:2px  solid #373535 ;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0px;
 
}
/*
.card:hover{
  
  box-shadow: 6px 6px 4px 4px threedshadow;	

}
*/


.card:hover {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    
  }

  to {
    box-shadow: 6px 6px 4px 4px threedshadow;	
  }
}

